@font-face {
  font-family: "NunitoSans";
  src: url("../../assests/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assests/fonts/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assests/fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "NunitoSans";
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
  color: white;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    height: 80px;
  }
}
.header__logowrapper {
  margin-top: 24px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .header__logowrapper {
    margin: auto 36px;
  }
}
@media (min-width: 1280px) {
  .header__logowrapper {
    margin-left: 128px;
  }
}
.header__logo {
  font-family: "NunitoSans";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  max-height: 20px;
  max-width: 120px;
  text-decoration: none;
  color: white;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .header__nav {
    justify-content: flex-start;
    align-items: center;
  }
}
.header__nav-item {
  width: 50%;
  text-align: center;
  position: relative;
  padding-bottom: 16px;
  border-bottom: 3px solid #323232;
  color: #E1E1E1;
}
@media (min-width: 768px) {
  .header__nav-item {
    width: 5%;
    min-width: 80px;
    height: 100%;
    margin-left: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }
}
.header__nav-item:hover {
  border-bottom: 3px solid white;
  color: white;
  animation: color-change 2s ease-in-out 0s infinite alternate;
}
.header__nav-item--current {
  border-bottom: 3px solid white;
  color: white;
}
.header__nav-item-link {
  font-family: "NunitoSans";
  font-weight: 400;
  font-style: normal;
  width: 100%;
  color: white;
  text-decoration: none;
}
.header__nav-item-link--bold {
  font-weight: 600;
}
.header__nav-item-link:hover {
  color: white;
  animation: color-change 2s ease-in-out 0s infinite alternate;
}

.footer {
  padding: 0 16px;
  color: white;
  background-color: #323232;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer {
    padding: 48px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 36px 128px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .footer-blockone {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer-blockone-left {
    display: flex;
    justify-content: flex-start;
  }
}
.footer__header {
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer__header {
    font-size: 36px;
    line-height: 44px;
    display: flex;
    margin-bottom: 0;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer-icons {
    padding-left: 36px;
    display: flex;
    align-items: center;
  }
}
.footer-icons__image {
  margin-right: 16px;
}
@media (min-width: 768px) {
  .footer-icons__image {
    margin-right: 36px;
  }
}
@media (min-width: 768px) {
  .footer-blocktwo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .footer-contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 207px;
    padding: 36px 0;
  }
}
.footer-contacts__name {
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 16px 0 0;
}
@media (min-width: 768px) {
  .footer-contacts__name {
    margin: 0;
  }
}
.footer-contacts__company {
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 16px;
}
@media (min-width: 768px) {
  .footer-contacts__company {
    margin-bottom: 36px;
  }
}
.footer-contacts__info {
  font-family: "NunitoSans";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}
@media (min-width: 768px) {
  .footer-contacts__info {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer-contacts__email {
  font-family: "NunitoSans";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: block;
  margin: 16px 0;
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  .footer-contacts__email {
    margin-top: 36px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .footer-contacts--padding {
    margin-left: 36px;
  }
}
.footer__logo {
  font-family: "NunitoSans";
  font-weight: 400;
  font-style: normal;
  max-height: 20px;
  max-width: 120px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 32px;
  display: block;
  margin-top: 64px;
}
@media (min-width: 768px) {
  .footer__logo {
    margin-top: 0;
    display: none;
  }
}
.footer__logo-hidden {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo-hidden {
    font-family: "NunitoSans";
    font-weight: 400;
    font-style: normal;
    max-height: 20px;
    max-width: 120px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 32px;
    display: block;
    align-self: center;
  }
}
.footer__copyright {
  font-family: "NunitoSans";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    justify-content: flex-start;
  }
}

.hero {
  background-image: url("../assests/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    min-height: 500px;
  }
}
@media (min-width: 1280px) {
  .hero {
    min-height: 700px;
  }
}
.hero__title {
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  padding: 0 16px;
  color: white;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 68px;
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding: 36px 128px;
  }
}
.hero::after {
  content: "";
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-color: #323232;
  opacity: 0.5;
}

.about {
  color: #323232;
}
.about-one {
  padding: 0 16px;
}
@media (min-width: 768px) {
  .about-one {
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .about-one {
    padding: 0 128px 36px;
  }
}
.about__title {
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 36px;
    line-height: 44px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
.about__subtitle {
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
@media (min-width: 768px) {
  .about__subtitle {
    padding: 0 36px;
    font-size: 24px;
    line-height: 32px;
    width: 100%;
    padding-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .about__subtitle {
    padding: 0 80px;
    padding-bottom: 36px;
  }
}
.about__img {
  height: 250px;
  overflow: hidden;
  background-image: url("../assests/images/band.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (min-width: 768px) {
  .about__img {
    height: 450px;
    margin: 0 36px;
  }
}
@media (min-width: 1280px) {
  .about__img {
    margin: 0 80px;
  }
}
.about__quote {
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 24px;
    line-height: 32px;
    margin: 0 36px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .about__quote {
    margin: 0 80px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .about__quote--size {
    font-size: 1.5rem;
    padding: 0;
  }
}
.about-two {
  padding: 0 16px;
}
@media (min-width: 768px) {
  .about-two {
    padding: 0 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .about-two {
    padding: 36px 128px;
  }
}
.about__content {
  font-family: "NunitoSans";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .about__content {
    font-size: 14px;
    line-height: 22px;
    width: 49%;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 36px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .about__content {
    padding-left: 80px;
  }
}
@media (min-width: 768px) {
  .about__content--paraTwo {
    padding-left: 0;
    padding-right: 36px;
  }
}
@media (min-width: 1280px) {
  .about__content--paraTwo {
    padding-right: 80px;
  }
}

.gallery {
  padding: 0 16px;
  color: #323232;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .gallery-wrapper {
    padding: 0 36px;
    padding-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .gallery-wrapper {
    padding: 36px 128px;
  }
}
.gallery__title {
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .gallery__title {
    padding: 0 36px;
    font-size: 36px;
    line-height: 44px;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    padding: 48px 128px 0px;
    margin-bottom: 0;
  }
}
.gallery__image {
  max-width: 100%;
  margin-bottom: 16px;
  filter: grayscale(100%);
  transition: filter 1s;
}
@media (min-width: 768px) {
  .gallery__image {
    max-width: 32%;
    padding-bottom: 2%;
    margin-bottom: 0;
  }
}
.gallery__image:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .gallery__image--bottom {
    padding-bottom: 0;
  }
}

.comments {
  margin: 0 16px;
}
@media (min-width: 768px) {
  .comments {
    margin: 0 32px;
  }
}
@media (min-width: 1280px) {
  .comments {
    margin: 0 128px;
  }
}
.comments__title {
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .comments__title {
    font-size: 36px;
    line-height: 44px;
  }
}
.comments-form {
  position: relative;
  /*transition: transform 0.5s;*/
  /* &:focus-within {
       transform: scale(1.03);
   }*/
}
@media (min-width: 768px) {
  .comments-form {
    margin-right: 32px;
  }
}
@media (min-width: 1280px) {
  .comments-form {
    margin-right: 0;
  }
}
.comments-form__avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-image: url(../assests/images/Mohan-muruge.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 32px;
}
@media (min-width: 768px) {
  .comments-form__avatar {
    left: 64px;
  }
}
@media (min-width: 1280px) {
  .comments-form__avatar {
    left: 240px;
  }
}
.comments-form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 48px;
}
@media (min-width: 768px) {
  .comments-form-wrapper {
    margin: 0 32px 16px 112px;
  }
}
@media (min-width: 1280px) {
  .comments-form-wrapper {
    margin: 0 240px 16px 288px;
  }
}
.comments-form-wrapper__label {
  color: #AFAFAF;
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 4px;
}
.comments-form-wrapper__name {
  min-height: 36px;
  border-radius: 4px;
  padding: 12px;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .comments-form-wrapper__name {
    padding: 16px;
    min-height: 48px;
  }
}
.comments-form-wrapper__name:focus {
  outline: none;
  border: 1px solid #323232;
}
.comments-form-wrapper__name:invalid {
  outline: none;
  border: 1px solid #D22D2D;
}
.comments-form-wrapper__comment {
  height: 96px;
  padding-left: 10px;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background-color: #FAFAFA;
  padding-bottom: 70px;
}
.comments-form-wrapper__comment:focus {
  outline: none;
  border: 1px solid #323232;
}
.comments-form-wrapper__comment--invalid {
  outline: none;
  border: 1px solid #D22D2D;
}
.comments-form-wrapper__comment:invalid {
  outline: none;
  border: 1px solid #D22D2D;
}
.comments-form-wrapper__button {
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  height: 40px;
  width: 100%;
  margin-top: 16px;
  min-width: 150px;
  padding: 0 32px;
  align-self: flex-end;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #323232;
}
.comments-form-wrapper__button:hover {
  background-color: black;
}
@media (min-width: 768px) {
  .comments-form-wrapper__button {
    width: 30%;
  }
}
.comments-form-pre {
  font-family: "NunitoSans";
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .comments-form-pre {
    margin: 0 64px;
  }
}
@media (min-width: 1280px) {
  .comments-form-pre {
    margin: 0 240px;
  }
}
.comments-form-pre__circle {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #E1E1E1;
  position: absolute;
  left: 0;
  top: 16px;
}
.comments-form-pre__circle--pictureClass {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 16px;
  background-color: none;
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-position: center;
  background-size: cover;
}
.comments-form-pre--topBorder {
  margin-top: 16px;
  border-top: 1px solid #E1E1E1;
}
.comments-form-pre--bottomBorder {
  margin-bottom: 16px;
}
.comments-form-pre--newBorder {
  border-top: 1px solid #E1E1E1;
  border-bottom: none;
}
.comments-form-pre-top {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.comments-form-pre-top__name {
  font-size: 14px;
  line-height: 22px;
  font-family: "NunitoSans";
  font-weight: 700;
  font-style: normal;
  margin-left: 48px;
}
.comments-form-pre-top__date {
  color: #E1E1E1;
  font-size: 14px;
  line-height: 22px;
}
.comments-form-pre-bottom {
  font-size: 14px;
  line-height: 22px;
}
.comments-form-pre-bottom__loaded {
  margin-top: 0;
  margin-left: 48px;
  max-width: 100%;
  word-wrap: break-word;
}/*# sourceMappingURL=bio.css.map */