@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;
@import "./partials/global";


.header-image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-image: url("../assets/images/hero-shows.jpg");

    background-size: cover;
    background-position: center;
    min-height: 300PX;
    position: relative;
        @include tablet {
            min-height: 500px;
        }
        @include desktop {
            min-height: 700px;
            flex-direction: row;
        }
    
        &-one {
            @include desktop {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        }

    &__subtitle {
        @include font-family-bold;
        @include font-properties(14px, 22px);
        @include mobile-side-padding;
        margin-top: $sixteen*3;
        color: $white;
        position: relative;
        z-index: 1;   

        @include tablet {
            @include font-properties(24px, 32px);
            padding:0 $nonmobile-general-spacing;
        }   
        @include desktop {
            padding: $nonmobile-general-spacing $desktop-side-spacing;
            margin-bottom: 0;
        }
    
    }    

    &__title{
        @include font-family-bold;
        @include font-properties(24px, 32px);
        @include mobile-side-padding;
        color: $white;
        position: relative;
        z-index: 1;        
            @include tablet {
                width: 70%;
                @include font-properties(60px, 68px);
                padding:0 $nonmobile-general-spacing;
            }   
            @include desktop {
                width: 100%;
                padding: $nonmobile-general-spacing $desktop-side-spacing;
                margin-top: 0;
                padding-top: 0;
            }
        }    

    &::after {
        content: "";
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        background-color: $bandsite-black;
        opacity: 0.5;
    }
}
.iframe-container {
    display: flex;
    overflow: hidden;
    z-index: 1;
    border-radius: 15px;
    margin: 0 0 $sixteen*2  $sixteen;
    width: 80%;

    @include tablet {
    margin: 0 0 $sixteen  $sixteen*2.5;
    width: 50%;

    @include desktop {
        align-self: center;
        margin: 0 $sixteen*8 0 0;

    }
}

}

.shows__container {
    background-color: $white;
    padding: 24px 16px 16px 16px;
    @include tablet {
        padding:  24px 16px 16px 36px;
        @include desktop {
            display: flex;
            padding: 24px 16px 16px 6vw;
        }
    }
    
}

.shows__title {
    @include desktop {
        padding: 0 100px 0 0;
    }
}

.shows__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    @include tablet {
        display: table;
    }
}

.shows__show {
    border-top: 1px solid $mercury;
    padding: 16px 0;
    box-sizing: border-box;
    @include tablet {
        display: flex;
    }
}

.shows__show:hover {
    background-color: $alabaster;
}

.selected {
    background-color: $mercury;
}

.shows__headers {
    display: flex;
}

.shows__header {
    display: none;
    @include tablet {
        display: table-cell;
        width: 230px;
        padding: 0 10px 0 10px;
        color: $silver;
    }
}

.shows__label {
    margin: 0 0 4px 0;
    @include tablet {
        display: none;
    }
}

.shows__info {
    margin: 0 0 16px 0;
    width: 230px;
    @include tablet {
        display: table-cell;
        padding: 10px;
        text-align: left;
    }
}

.shows__button {
     @include font-properties(16px, 20px);
    @include font-family-normal;
    text-align: center;
    background-color: $bandsite-black;
    color: white;
    height: 60px ;
    width:30%;
    margin-bottom: 20px;
    @include tablet {
        display: table-cell;
        padding: 10px;
    }
}
